@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online Bidder</h1>
    <p class="lead">Online Bidder is a free web site for bidding on products that u like.</p>
    <p><a href="@Url.Action("Index", "AuctionViewModels")" class="btn btn-primary btn-lg">Start Bidding! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Auction for your favourite products to see if u can buy it!!
        </p>
        <p><a class="btn btn-default" href="~/Home/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Learn more about our premium auction</h2>
        <p>premium auction is exclusive for paid members and is only for high value products.</p>
        <p><a class="btn btn-default" href="~/Home/Contact">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Us</h2>
        <p>we are a small company named onlinebidder.</p>
        <p><a class="btn btn-default" href="~/Home/About">Learn more &raquo;</a></p>
    </div>
</div>